.bajingan {
    height: 30px;
  width: 70px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 0px 13px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.9s ease-in-out;
  margin-top: 5px;
}

.bajingan:hover {
  width: 100%;
}
.bajingan:focus {
  width: 100%;
}
